<div class="jumbotron small-caps">
    <h1><span>The Rules</span></h1>
    <p class="lead text-muted">&ndash;<em> One does not simply turn overnight.</em></p>
</div>
<div class="row marketing">
    <div class="col-md-6">
        <h2 class="small-caps">Basics</h2>
        <p>
            Most action are rolled with a standard dice (D6). 
            The gamemaster determines a difficulty rating for most of the actions that you will do, ranging from 1 (super-easy) to 10 (impossible!).</p>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Difficulty</th>
                    <th>Fumble</th>
                    <th>Success</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dc in difficulties" class="{{ rowClass(dc) }}">
                    <td>{{ dc }}</td>
                    <td>{{ fumble(dc) }}</td>
                    <td>{{ win(dc) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Abilities</h2>
        <hr />
        <p>There's four abilities. Each of them grant a straight up bonus to your</p>
        <h3>Constitution</h3>
            
    </div>

    <div class="col-md-6">
        <h2 class="small-caps">Skills</h2>
        <p>
            Skill are used everytime you need to do an action. For every rank in a skill, you get to roll an extra +1 to your roll.
            If you do have a required skill when you need to perform an action, you get a -2 to the roll.
            <br />
            At character creation, choose <strong>4 skill ranks</strong>, distributed amongst any combination of skills you want.
            <br /><br />
            <em>Note that skills can be anything, at the DM discretion.</em>
        </p>
        <h2 class="small-caps">Perks</h2>
        <p>
            Perks are special modifier that apply for a specific action. You get to pick two at character creation.
            Most perks should be something that grants you which would grant you another die to roll (i.e.: "Super Strong", +1 die when bashing doors open).
        </p>
        <h2 class="small-caps">Re-rolling</h2>
        <p>
            You are allowed to re-roll a dice roll by spending one hunger and one thirst point together.
            Note that if the roll was a botch, you need to spend 3 points of each to be allowed to reroll it.
        </p>
        <h2 class="small-caps">Equipment</h2>
        <p>
            You may find equipment which protects you at specific spots on your body. If you do have protection on the spot that gets hit, you have a chance to cancel the attack altogether.
            Usual protection will grant, as an example, a leather vest may grant 10% protection versus bites + slash on the chest and arms.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Hitting in Combat</h2>
        <p>
            Once you have succeeded a roll for a hit, you get to roll a D20 to determine to hit location.
            If you hit the hands or feet, roll a D10 again, on 1-5 it's left, 6-10 it's right.
            <br />
            If you are melee'ing, you may take a -1 to your roll to hit a specific spot.
            <br />
            If you are shooting, you may take a -2 to your roll to hit a specific spot.
        </p>
        
    </div>

    <div class="col-md-6">
        <h2 class="small-caps">Botches</h2>
        <p>
            Rolling a 1 will result in a botch which could (should) mess up something.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Health & Injuries</h2>
        <p>
            Injuries that occur to your character should be noted and unless treated could incur you an increasing penalty.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Hunger and Thirst</h2>
        <p>
            You have 10 points in hunger and 10 points in thirst. Various actions (but mostly time) will decrease the current amount.
            Points should usually decrease at a rate of around a point of thirst per hour and a point of hunger per 2 hours. <br />
            <br />Once you have 0 in either, you will have an increased chance of failing actions (get a -X to your rolls).
        </p>
    </div>

    <div class="col-md-6">
        <h2 class="small-caps">Sanity</h2>
        <p>
            You have 10 points of sanity as the game starts. Botches with bad effects and special events (such as a teammate's death) may lower your current sanity. To see if an special event lowers your sanity by one point, roll 1D10. If you get lower than your sanity level, you are fine. Otherwise, you lose one point. When you get to 0, you are insane and the DM will have fun. You can gain back sanity through adequate sleep and humane certain actions.<br />
            <br />Once you have 0 in either, you will have an increased chance of failing actions (get a -X to your rolls).
        </p>
    </div>

    <div class="col-md-6">
        <h2 class="small-caps">Progression</h2>
        <p>
            An average zombie should grant you about 1 point of experience. Experience is used to increase your skills and abilities.
            <ul>
                <li>A skill rank costs <strong>50xp</strong></li>
                <li>A perk costs 150 xp</li>
            </ul>
            <br />You can also use experience to nullify some effects of injuries. See with the DM to determine an adequate value.
        </p>
    </div>
</div>