<div class="jumbotron small-caps">
    <h1><span>The Rules</span></h1>
    <p class="lead text-muted">&ndash;<em> One does not simply turn overnight.</em></p>
</div>
<div class="row marketing">
    <div class="col-md-6">
        <h2 class="small-caps">Basics</h2>
        <p>
            Most action are rolled with a standard dice (D6). 
            The gamemaster determines a difficulty rating for most of the actions that you will do, ranging from 1 (super-easy) to 10 (impossible!). 
            The difficulty may drop if you are trained in a skill. You are also granted a bonus to your roll according to the ability related to the action.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Skills</h2>
        <p>
            Skill are used everytime you need to do an action. For every <strong>rank</strong> you get in a skill, you may reduce the difficulty of an action by one.
            <br />
            The difficulty of an action might be increased if you are untrained in the matching skill (knowledges for example).
            <br />
            At character creation, you get to start with two skill ranks in two different skills.
            <em>Note that skills can be anything, at the GM's discretion.</em>
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Abilities</h2>
        <p>
            There's four abilities. Each of them grant a straight up bonus to your dice roll whenever a skill uses this ability.
            <br />
            At character creation, you have 0 in all abilities except 1 in an ability of your choice.
        </p>
        <h4>Constitution</h4>
        <p>Relates to fitness, strength, and endurance checks; running, hitting someone with a club, bashing a door open, resisting poisons.</p>
        <h4>Agility</h4>
        <p>Relates to dexterity, accuracy, and reaction checks; dodging, shooting with a pistol, picking a lock.</p>
        <h4>Intellect</h4>
        <p>Relates to knowledge and technical domain checks; hack a computer, repair a car, recount the 51235th digit of Pi.</p>
        <h4>Charisma</h4>
        <p>Relates to social skills, street-smarts, relationship checks; bluffing, gathering information, appearance.</p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Supplies and Health</h2>
        <p>
            You keep track of your hunger, thirst, sanity and condition are all separately. These values go from 5 to 1, where 4 is the average location.
            If you stay too long at 1 you will most likely die. If you find yourself at 0 in either, consider yourself unconscious.
            <br />
            For hunger and thirst, you will usually lose a point a day if you do not drink/eat.
        </p>
        <h4>Hunger</h4>
        <p>
            Bloated; Well-Fed; Hungry; Very Hungry; Starving
            <br />
            If you are very hungry, you get a -1 to ALL rolls. If you are starving, you get a -2 to ALL rolls.
        </p>
        <h4>Thirst</h4>
        <p>
            Bloated; Quenched; Thirsty; Very Thirsty; Dehydrated
            <br />
            If you are very thirsty, you get a -1 to ALL rolls. If you are dehydrated, you get a -2 to ALL rolls.
        </p>
        <h4>Sanity</h4>
        <p>
            Confident; OK; Insecure; Neurotic; Depressed
            <br />
            If you are neurotic, you get a -1 to ALL rolls. If you are depressed, you get a -2 to ALL rolls.
            <br />
            If you are confident, you get a +1 to ALL rools.
        </p>
        <h4>Condition</h4>
        <p>
            Top Shape; Healthy; Unhealthy; Weak; Half-Dead
            <br />
            Your condition is usually based on your other trackers. Whenever you get hit in combat, your condition drops by one.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Difficulty</h2>
        <p>
            Given a certain difficulty, the required roll is always +1 as per the table below.
            <br />
            A fumble occurs whenever your dice is equal or lower than the number in the fumble column. It is possible to have a success on an action and still fumble, the GM should get creative.
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Difficulty</th>
                    <th>Fumble</th>
                    <th>Success</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dc in difficulties" class="{{ rowClass(dc) }}">
                    <td>{{ dc }}</td>
                    <td>{{ fumble(dc) }}</td>
                    <td>{{ win(dc) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Fumbles</h2>
        <p>
            A fumble occurs when you roll a one at difficulty 1 to 3, two or less at difficulty 4-6, three or less at difficulty 7-9, or 4 or less at difficulty 10. This means that something messed up. The action itself may have worked (if you passed the success value), but say your weapon may have gotten stuck after firing.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Advantages</h2>
        <p>Whenever you find yourself in an advantageous situation for an action, you may roll two dices, and pick the best.</p>
        <h2 class="small-caps">Disadvantages</h2>
        <p>Same as advantage, but pick the worst result.</p>
    </div>

    <div class="col-md-6">
        <h2 class="small-caps">Equipment</h2>
        <p>
            You may find equipment which protects you at specific spots on your body. If you do have protection on the spot that gets hit, you have a chance to cancel the attack altogether.
            Usual protection will grant, as an example, a leather vest may grant 20% protection versus bites + slash on the chest and arms.
            <br />
            In this case, if you get hit; roll a d100 to see if you can cancel the damage altogether (20% from leather vest).
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Combat (Offense)</h2>
        <p>
            You do a skill check vs. a difficulty given by the GM.
            <br />
            You may add +2 to the difficulty to hit a specific spot/limb.
        </p>
        <h2 class="small-caps">Combat (Defense)</h2>
        <p>
            You have a passive defense that is equal to <strong>3 + Constitution + Agility</strong>. That represents the default difficulty of an enemy to hit you in standard combat.
        </p>
        <h2 class="small-caps">Damage</h2>
        <p>
            Usually, every hit does 1 damage to the target's condition directly.
        </p>
        <h2 class="small-caps">Saving throws</h2>
        <p>Saving throws are a special kind of checks which are based on your raw abilities. A usual roll will be 1d6 + ability.</p>
        <h2 class="small-caps">Injuries</h2>
        <p>
            Injuries that occur to your character should be noted and unless treated could incur a specific penalty.
        </p>
        <h2 class="small-caps">Zombification</h2>
        <p>
            If you are bitten during combat, there is 20% chance to become a zombie at night. The chance is increased by 10% per condition point under 5. The chance may be increased or decreased depending on the intensity of the damage and on the treatment received afterward.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Re-rolling</h2>
        <p>You get ONE reroll per game session.</p>
    </div>
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        <h2 class="small-caps">Progression</h2>
        <p>
            An usual gaming session should net you around 3 experience points. You may spend these points to buy skill ranks or ability points.
            You may need to be able to justify taking new skill points with your GM.
            <ul>
                <li>A skill point costs 5 points at rank 1. Every rank after costs 3 times the previous rank.</li>
                <li>An ability point cost 10 points at rank 1. Every rank after costs 3 times the previous rank.</li>
            </ul>
            <br />You can also use experience to nullify some effects of injuries. See with the GM to determine an adequate value.
        </p>
    </div>
</div>